.misinfo-marker-span {
    text-align: center;
    line-height: 2em;
    cursor: pointer;
    float: right;
    width: 54%;
    background: #77A653 !important;
    border-radius: 10px;
    height: auto;
    margin-top: 0px;
}

.misinfo-marker-is-misinfo {
    background-color: #f44336;
}

.misinfo-marker-not-misinfo {
    background-color: #4caf50;
}

.misinfo-marker-wrapper {
    position: relative;
    background: #FFF4F4;
    height: 66px;
    width: 98%;
    margin-bottom: 0px;
    padding: 10px;
}

.misinfo-marker-info-close-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    color: black;
    font-weight: bolder;
}

.misinfo-marker-info-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e5e5e3;
    z-index: 5;
    margin-top: 2em;
    padding: 40px 30px 30px 30px;
    color: #000000;
}

.mis-info-text-font{
    font-family: "Kalpurush ANSI";
}

.misinfo-marker1{
    float: left;
    background: #F82A2A;
    border-radius: 10px;
    width: 45%;
}

.misinfo-marker1-heading1{
    font-family: Kalpurush ANSI;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #FFF4F4;
    text-align: center;
    /* border: 0.4px solid #FFF4F4; */
    font-weight: bold;
}
.misinfo-marker1-heading2{
    font-family: Kalpurush ANSI;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #FFF4F4;
}

.misinfo-checker-checked-symbol {
    color: white;
    border: 1px solid;
    border-radius: 5em;
    text-align: center;
    float: right;
    font-size: 10px;
    padding: 4px 8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 10px;
    margin-top: -10px;
}

.misinfo-checker-checked-is-misinfo {
    border-color: #f44336;
    color: #f44336;
}

.misinfo-checker-checked-not-misinfo {
    border-color: #4caf50;
    color: #4caf50;
}

.dislike-button-flipped {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.font-white {
    color: white !important;
}

.misinfo-checker-feedback-button {
    margin-right: 5px !important;
    align-content: center;
}

.misinfo-checker-feedback-button img {
    height: 25px;
    margin-top: -5px;
}

.light-margin-top {
    margin-top: 5px;
}

.light-padding-top {
    padding-top: 5px;
}

.misinfo_feedback_class{

}

/* ----------
Modal
---------------------*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 400; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  top: 5px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px;
  width: 90%; 
  border-radius: 10px;
}

.list-group {
  margin-left: 0;
  margin-right: 10px;
  list-style-type: none;
}

.list-group-item {
  border: 2px dashed  #d9e7ff;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
}
.rumor{ 
  color: #660303;
  list-style: none;
  background: rgba(248, 42, 42, 0.3);
  padding: 5px
  }

.truth{
  color: #057002;
  list-style: none;
  background: rgba(101, 170, 100, 0.12);
  border-radius: 1px 1px 10px 10px;
  padding: 5px;
  
}

.rumor-title{
  border-radius: 10px 10px 1px 1px;
  color: #fff;
  list-style: none;
  background: #97233F;
  text-align: center;
}

.truth-title{
  
  color: #fff;
  list-style: none;
  background: #4B6F44;
  text-align: center;
}
.footer {
 text-align: center;   
    color: gray;

}

.title-background {
    padding: 5px 0;
text-align: center;
width: 100%;
background: #FA5656;
border-radius: 50px;  
}

.title-text{ 
font-family: Kalpurush ANSI;
font-style: normal;
font-weight: normal;
font-size: 1.1em;
color: white;
}

/* The Close Button */
.close {
    padding: 0 5px;
  float: right;
  border-radius: 10px;
  background: white;
  right: 10px;
    position: relative;
    font-size: 1.1em;

}

.close:hover,
.close:focus {
  color: #057002;
  text-decoration: none;
  cursor: pointer;
}