<!doctype html>
<html lang="en">

<head>
    <title>Covid-19 Misinformation Tracker</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
<div class="container">
<div class="well">
    <h4>Your Submission is successful.</h4>
</div>
    <div class="row">
        <a href="{{ url_for('index') }}">Submit Another Misinfo</a>
    </div>
</div>

</body>