<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h3>Corona Fact Check</h3>
    <button type="button" class="btn btn-primary" id="seefake">See latest fake-news</button>





    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/popup.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/styles/popup.css">
    <link rel="stylesheet" type="text/css" href="../assets/styles/bootstrap.min.css">
  </body>
</html>
